body {
    font-family: Arial, sans-serif;
    background: #000000;
    padding: 2rem;
    color: #333;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    border-radius: 4px;
  }
  
  .card, .child {
    background-color: lightblue;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: 5px solid #00b7ff;
    border-radius: 4px ;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  .card {
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: 5px solid #00b7ff;
    border-radius: 4px ;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  .card:hover {

    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    transform: scale(1.02);}

.card, .child:hover {
    box-shadow: 0 0 8px rgb(0, 88, 250);
    transform: scale(1.02);
  }
  button {
    padding: 0.5rem 1rem;
    background-color: #a4cfd2;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #7d79a0;
    
  }
  h2 {
    color: #1100ff;
  }
  h1 {
    color: #00f2ff;
  }

  a {
    color: #00b7ff;
    display : inline-block;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }